/*BORDAS DO SITE*/

.main-top{
    border: solid;
    background-size: cover;
    border-radius: 1px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {    
    border: solid;
    background-size: cover;
    border-radius: 1px;
  } 

  .gallery .item {
    border: solid;
    background-size: cover;
    border-radius: 1px;
  }

  .instagram-box{
    border: solid;
    background-size: cover;
    border-radius: 1px;
  }

  .footer-copyright{
    border: solid;
    background-size: cover;
    border-radius: 1px;
  }

  .shop-cat-box{
    border: solid;
    background-size: cover;
    border-radius: 1px;
  }

  .products-box{
    border: solid;
    background-size: cover;
    border-radius: 1px;
  }

  .latest-blog{
    border: solid;
    background-size: cover;
    border-radius: 1px;
  }

  .categories-shop{
    border: solid;
    background-size: cover;
    border-radius: 1px;
  }